$default-margin: 25px 0;
$colorUp: #d09418;
@import "partials/header";
@import "partials/home";
@import "partials/articles";
@import "partials/video";
@import "partials/quiz";
@import "partials/navigation";
@import "partials/footer";

* {
  margin: 0;
  padding: 0;
}

html {
  background: url("../img/bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  overflow-x: hidden;
}

#app {
  height: 100vh;
}

#app {
  @media only screen and (max-width: 600px) {

  }
  @media (max-width: 450px) {
    
  }
  @media (min-width: 450px) and (max-width: 900px) {
    
  }
  @media (min-width: 900px) and (max-width: 1200px) {
    
  }
  @media (min-width: 1200px) {
    
  }
}