$color-about: rgba(255, 255, 255, 0.75);
$color-about-font: #000;

#Home {
  min-height: 40em;
  margin: $default-margin;
  .about {
    margin: 10em auto 0;
    max-width: 40em;
    color: #ffffff;
    padding: 0.9375em;
    border-radius: 0.3125em;
    line-height: 2em;
    font-weight: bolder;
    text-align: center;
  }
}
