$color-about: rgba(255, 255, 255, 0.75);
$color-about-font: #000;

#Home {
  min-height: 40em;
  margin: $default-margin;
  .about {
    margin: 1.5625em auto;
    background: $color-about;
    max-width: 40em;
    color: $color-about-font;
    padding: 0.9375em;
    border-radius: 0.3125em;
    line-height: 3em;
  }
}
