$base-color: rgba(255, 255, 255, 0.4);
$base-color-hover: rgba(255, 255, 255, 1);

.menu__visible {
  opacity: 1;
  animation: visibleNav 0.5s ease-in-out;
}
.menu__hidden {
  opacity: 0;
  animation: hiddenNav 0.5s ease-in-out;
}

.menu__wrapper {
  position: fixed;
  top: 0.5em;
  left: 0.5em;
  color: $base-color;
  font-size: 0.75em;
  z-index: 3;
  span {
    opacity: 0;
  }
  &:hover span{
    color: $base-color-hover;
    opacity: 1;
    cursor: grab;
  }
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  min-width: 10em;
  background: $base-color; 
  padding: 10px;
  border-radius:5px;
  z-index: 2;
  ul {
    list-style-type: none;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    li {
      padding: 50px 0;
      font-weight: bold;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.fa-window-close,
.fa-bars {
  font-size: 35px;
}

.fa-window-close:hover,
.fa-bars:hover {
  cursor: grab;
  color: $base-color-hover;
}

@keyframes visibleNav {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes hiddenNav {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-50%);
  }
}